.group-175405,
.group-175405 * {
    box-sizing: border-box;
}

.group-175405 {
    height: 187px;
    position: relative;
    top:5px;
}

.rectangle-156030 {
    background: var(--white, #ffffff);
    border-radius: 15px;
    border-style: solid;
    border-color: #dadcf8;
    border-width: 1px;
    width: 1785px;
    height: 187px;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0px 0px 7.5px 0px rgba(0, 0, 0, 0.05);
}

.campaign {
    color: #0a0a0a;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 35px;
    top: 71px;
}

.campaign2 {
    color: #46679f;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    left: 35px;
    top: 25px;
}

.group-175402 {
    width: 183px;
    height: 35px;
    position: static;
}

.rectangle-156031 {
    background: var(--white, #ffffff);
    border-radius: 7px;
    border-style: solid;
    border-color: #6f6f6f;
    border-width: 1px;
    opacity: 0.3;
    width: 183px;
    height: 35px;
    position: absolute;
    left: 119px;
    top: 63px;
}

.campaign-name {
    color: #6f6f6f;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 135px;
    top: 71px;
    pointer-events: auto;
    opacity: 1;
    border-radius: 7px;
    border-style: solid;
    border-color: #6f6f6f;
    border-width: 1px;
}

.campaign-name-span {
}

.campaign-name-span2 {
    color: var(--grey-text-and-borders, #6f6f6f);
}

.created-by {
    color: #0a0a0a;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 337px;
    top: 71px;
}

.group-175399 {
    width: 183px;
    height: 35px;
    position: static;
}

.rectangle-156032 {
    background: var(--white, #ffffff);
    border-radius: 7px;
    border-style: solid;
    border-color: #6f6f6f;
    border-width: 1px;
    opacity: 0.3;
    width: 183px;
    height: 35px;
    position: absolute;
    left: 427px;
    top: 63px;
}

.none-selected {
    color: #6f6f6f;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 443px;
    top: 71px;
    -webkit-text-stroke: 1px transparent;
}

.icon-material-round-arrow-drop-down {
    opacity: 0.4;
    width: 9.75px;
    height: 6.23px;
    position: absolute;
    left: 582.81px;
    top: 77.38px;
    overflow: visible;
}

.delivery-date-from {
    color: #0a0a0a;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 645px;
    top: 71px;
}

.group-175400 {
    width: 108px;
    height: 35px;
    position: static;
}

.rectangle-156033 {
    background: var(--white, #ffffff);
    border-radius: 7px;
    border-style: solid;
    border-color: #6f6f6f;
    border-width: 1px;
    opacity: 0.3;
    width: 108px;
    height: 35px;
    position: absolute;
    left: 784px;
    top: 63px;
}

._23-02-2025 {
    color: #6f6f6f;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 800px;
    top: 71px;
    -webkit-text-stroke: 1px transparent;
}

.to {
    color: #0a0a0a;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 912px;
    top: 71px;
}

.to-span {
    text-transform: lowercase;
}

.to-span2 {
    color: var(--black, #0a0a0a);
}

.group-175401 {
    width: 110px;
    height: 35px;
    position: static;
}

.rectangle-156034 {
    background: var(--white, #ffffff);
    border-radius: 7px;
    border-style: solid;
    border-color: #6f6f6f;
    border-width: 1px;
    opacity: 0.3;
    width: 110px;
    height: 35px;
    position: absolute;
    left: 945px;
    top: 63px;
}

.dd-mm-yyyy {
    color: #6f6f6f;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: lowercase;
    position: absolute;
    left: 961px;
    top: 71px;
    -webkit-text-stroke: 1px transparent;
}

.campaign-ref {
    color: #0a0a0a;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 1090px;
    top: 71px;
}

.group-175403 {
    width: 167px;
    height: 35px;
    position: static;
}

.rectangle-1560312 {
    background: var(--white, #ffffff);
    border-radius: 7px;
    border-style: solid;
    border-color: #6f6f6f;
    border-width: 1px;
    opacity: 0.3;
    width: 167px;
    height: 35px;
    position: absolute;
    left: 1200px;
    top: 63px;
}

.compaign-ref {
    color: #6f6f6f;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 1216px;
    top: 71px;
}

.project-manager {
    color: #0a0a0a;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 1402px;
    top: 71px;
}

.group-175404 {
    width: 225px;
    height: 35px;
    position: static;
}

.rectangle-1560313 {
    background: var(--white, #ffffff);
    border-radius: 7px;
    border-style: solid;
    border-color: #6f6f6f;
    border-width: 1px;
    opacity: 0.3;
    width: 225px;
    height: 35px;
    position: absolute;
    left: 1526px;
    top: 63px;
}

.select-project-manager {
    color: #6f6f6f;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 1542px;
    top: 71px;
}

.showed-cancelled-campaigns {
    color: #0a0a0a;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 35px;
    top: 128px;
}

.showed-cancelled-campaigns-span {
}

.showed-cancelled-campaigns-span2 {
    color: var(--black, #0a0a0a);
}

.icon-fa-solid-check {
    width: 9.55px;
    height: 6.82px;
    position: absolute;
    left: 249.46px;
    top: 134.09px;
    overflow: visible;
}

.group-175297 {
    width: 105.66px;
    height: 34px;
    position: static;
}

.rectangle-155802 {
    background: var(--primary, #1c3258);
    border-radius: 18px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    width: 105.66px;
    height: 34px;
    position: absolute;
    left: 1697.34px;
}

.search {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top:8px;
}

.search-span {
}

.search-span2 {
    color: var(--white, #ffffff);
}

.icon-ion-md-search {
    width: 15.66px;
    height: 15.66px;
    left: 1705.34px;
    overflow: visible;
    padding:12px;
    
}
.search-button {
    background-color: #1D3557; /* Dark blue */
    color: white;
    border: none;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 999px; /* Full pill shape */
    display: inline-flex;
    align-items: center;
    gap: 6px;
    transition: background-color 0.3s ease;
}

    .search-button:hover {
        background-color: #16314f; /* Slightly darker on hover */
    }

    .search-button svg {
        fill: currentColor;
        width: 16px;
        height: 16px;
    }

