<div class="i-phone-13-mini-2">
    <div class="frame-5">
        <div class="rectangle-156020"></div>
        <img class="path-815" src="path-8150.svg" />
        <div class="frame-19">
            <div class="option">
                <div class="frame-6">
                    <img class="dashboard" src="dashboard0.svg" />
                    <div class="dashboard2">Dashboard</div>
                </div>
            </div>
            <div class="option-with-list">
                <div class="option2">
                    <div class="frame-6">
                        <img class="paper-plane-tilt" src="paper-plane-tilt0.svg" />
                        <div class="dashboard2">Campaign</div>
                    </div>
                    <img class="caret-down" src="caret-down0.svg" />
                </div>
            </div>
            <div class="option">
                <div class="frame-6">
                    <img class="folder-simple" src="folder-simple0.svg" />
                    <div class="dashboard2">Asset Library</div>
                </div>
            </div>
            <div class="option">
                <div class="frame-6">
                    <img class="circles-three" src="circles-three0.svg" />
                    <div class="dashboard2">Supplier Hub</div>
                </div>
            </div>
            <div class="option-with-list">
                <div class="option2">
                    <div class="frame-6">
                        <img class="shopping-cart-simple" src="shopping-cart-simple0.svg" />
                        <div class="dashboard2">Orders</div>
                    </div>
                    <img class="caret-down2" src="caret-down1.svg" />
                </div>
            </div>
            <div class="option">
                <div class="frame-6">
                    <img class="file" src="file0.svg" />
                    <div class="dashboard2">Supplier Hub</div>
                </div>
            </div>
            <div class="option-with-list">
                <div class="option2">
                    <div class="frame-6">
                        <img class="pen" src="pen0.svg" />
                        <div class="dashboard2">Forum</div>
                    </div>
                    <img class="caret-down3" src="caret-down2.svg" />
                </div>
            </div>
            <div class="option-with-list">
                <div class="option2">
                    <div class="frame-6">
                        <img class="shopping-cart-simple2"
                             src="shopping-cart-simple1.svg" />
                        <div class="dashboard2">Store Hub</div>
                    </div>
                    <img class="caret-down4" src="caret-down3.svg" />
                </div>
            </div>
            <div class="option-with-list">
                <div class="option2">
                    <div class="frame-6">
                        <img class="shopping-cart-simple3"
                             src="shopping-cart-simple2.svg" />
                        <div class="dashboard2">Reports</div>
                    </div>
                    <img class="caret-down5" src="caret-down4.svg" />
                </div>
            </div>
            <div class="option2">
                <div class="frame-6">
                    <img class="gear-six" src="gear-six0.svg" />
                    <div class="dashboard2">Admin</div>
                </div>
                <img class="caret-down6" src="caret-down5.svg" />
            </div>
        </div>
        <div class="rectangle-156023"></div>
        <img class="group-175460" src="group-1754600.svg" />
        <div class="jane-doe">
            <span>
                <span class="jane-doe-span">J</span>
                <span class="jane-doe-span2">ane doe</span>
            </span>
        </div>
        <div class="logout">
            <span>
                <span class="logout-span">L</span>
                <span class="logout-span2">ogout</span>
            </span>
        </div>
    </div>
    <img class="list" src="list0.svg" />
</div>
