@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@inject IJSRuntime JS

<h3>JS Interop Example</h3>


@code {
    private bool _firstRender = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_firstRender)
        {
            _firstRender = false; // Make sure JS runs only once
            await JS.InvokeVoidAsync("myJsFunction");
        }
    }
}